body {
    background-color: beige;
}


h1 {
    font-family:'Kdam Thmor Pro', sans-serif;;
    font-size: 40px;
    text-align: center
}

main h2 {
    text-align: center;
    padding-top: 80px;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

table, td, th {
    border: 1px solid;
    border-collapse: collapse;
}

th, td {
    padding: 10px 15px;
}

th {
    background-color:khaki
}



.menu {
    display: block;
    background-color: darkseagreen;
    height: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
}

#CSS {
    display: inline-block;
    padding: 30px 10px;

}

#HTML {
    display: inline-block;
    padding: 30px 10px;
}

.code {
    font-family: "Lucida Console", Courier, monospace;
}

#Semantic {
    margin-bottom: 200px;
}

